body {
    width: 100%;
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

.login-section {
    padding-top: 4rem;
    padding-bottom: 11rem;
}
#spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.display-5 {
    line-height: 1.7;
    font-size: 2.25rem !important;
}

.life-illustration {
}

.salaamText {
    letter-spacing: 0.25rem;
    color: hsl(218, 81%, 75%)
}

.image_logo {
    height: 119px;
}
.roller {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

    .roller #rolltext {
        word-spacing: 7px;
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        animation: slide 5s infinite;
    }

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -4rem;
    }

    50% {
        top: -8rem;
    }

    72.5% {
        top: -12.25rem;
    }
}
@media only screen and (min-width: 850px) {
    ::-webkit-scrollbar {
        width: 0px !important;
    }
}
@media screen and (max-width: 600px) {
    .roller {
        height: 2.6rem;
        line-height: 2.125rem;
    }

        .roller #rolltext {
            animation: slide-mob 5s infinite;
        }

    @keyframes slide-mob {
        0% {
            top: 0;
        }

        25% {
            top: -2.125rem;
        }

        50% {
            top: -4.25rem;
        }

        72.5% {
            top: -6.375rem;
        }
    }
}